{% extends 'layout.html' %}
{% block content %}
<div>
    <h1>Setting</h1>
    <div class="well">
        <form>
            <div>
                <h2>use dark theme</h2>
                <input type="checkbox">
                <hr>
            </div>
            <div>
                <h2>use SPA</h2>
                <p>smooth page transition</p>
                <input type="checkbox">
                <hr>
            </div>
            <button>save</button>
        </form>
    </div>
</div>
{% endblock %}